# Traefik  (if you use proxy)
DOMAIN=domain.org
# Comma-separated list of IP/mask addresses to allow access. Replace 0.0.0.0/0 with your address
ALLOW_FROM=0.0.0.0/0

# Node
P2P_PORT=30304
HTTP_PORT=8545
WS_PORT=8546
# Comma-separated list of addresses to treat as "local"
TX_LOCAL_ADDR=0x0000000000000000000000000000000000000000