# Traefik (if you use proxy)
DOMAIN=domain.org
# Comma-separated list of IP/mask addresses to allow access. Replace 0.0.0.0/0 with your address
ALLOW_FROM=0.0.0.0/0

# Node
P2P_PORT=30303
HTTP_PORT=8535
WS_PORT=8536